[submodule "rebotarm_monitor_ros2"]
	path = rebotarm_monitor_ros2
	url = https://github.com/danieldoradotalaveron-rb/rebotarm_monitor_ros2.git
[submodule "rebotarm_cartesian_gamepad_teleop_ros2"]
	path = rebotarm_cartesian_gamepad_teleop_ros2
	url = https://github.com/danieldoradotalaveron-rb/rebotarm_cartesian_gamepad_teleop_ros2.git
[submodule "third_party/reBotArm_control_py"]
	path = third_party/reBotArm_control_py
	url = https://github.com/dorado-ai-devops/reBotArm_control_py.git
	branch = main
